format = %{repository_template_format}
location = /var/db/paludis/repositories/%{repository_template_name}
sync = %{repository_template_sync} local: git+file:///home/hasufell/repositories/%{repository_template_name}
